<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            BODY {
                font-family: Arial;
                font-size: 12px;
                color: black;
            }
            
            table {
                border: 2px solid black;
                border-collapse: collapse;
            }
            
            td, th {
                border: 1px solid gray;
            }
        
        </style>
    </head>
    <body>
        <H1>%TEAM%</H1>
        <h2>Purchase Summary</h2>
        <table>
            %TRANSACTIONS%
        </table>
        
        <h2>Closing Balance : %FUNDS%</h2>
    </body>
</html>

