<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarketFrameworkLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MarketFrameworkLibrary.Properties.Settings.RoboticsCommodityMarketConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RoboticsCommodityMarket.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MarketFrameworkLibrary.Properties.Settings>
            <setting name="HTMLPageTemplate" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;&lt;/title&gt;
        &lt;style&gt;
            BODY {
                font-family: Arial;
                font-size: 14px;
                color: black;
            }
            
            table {
                border: 2px solid black;
                border-collapse: collapse;
                width: 400px;
            }
            
            td, th {
                border: 1px solid gray;
                padding: 5px;
            }
            .odd {
                background-color: #EEEEEE;
            }
            .even {
                background-color: #FFFFFF;
            }
        
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;H1&gt;%TEAM%&lt;/H1&gt;
        &lt;h2&gt;Purchase Summary&lt;/h2&gt;
        &lt;table&gt;
            %TRANSACTIONS%
        &lt;/table&gt;
        
        &lt;h2&gt;Closing Balance : %FUNDS%&lt;/h2&gt;
    &lt;/body&gt;
&lt;/html&gt;
</value>
            </setting>
            <setting name="HTMLTransactionTemplate" serializeAs="String">
                <value>&lt;tr class="%ROWSTYLE%"&gt;
    &lt;td&gt;%TIME%&lt;/td&gt;
    &lt;td&gt;%COMMODITY%&lt;/td&gt;
    &lt;td&gt;%QUANTITY%&lt;/td&gt;
    &lt;td&gt;%PRICE%&lt;/td&gt;
    &lt;td&gt;%SUCCESS%&lt;/td&gt;
&lt;/tr&gt;</value>
            </setting>
            <setting name="HTMLCommodityTemplate" serializeAs="String">
                <value>&lt;tr class="%ROWSTYLE%"&gt;
    &lt;td&gt;%COMMODITY%&lt;/td&gt;
    &lt;td&gt;%QUANTITY%&lt;/td&gt;
    &lt;td&gt;%TOTALPRICE%&lt;/td&gt;
&lt;/tr&gt;</value>
            </setting>
            <setting name="HTMLClosingPricePageTemplate" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;&lt;/title&gt;
        &lt;style&gt;
            BODY {
                font-family: Arial;
                font-size: 14px;
                color: black;
            }
            
            table {
                border: 2px solid black;
                border-collapse: collapse;
                width: 400px;
            }
            
            td, th {
                border: 1px solid gray;
                padding: 5px;
            }
            .odd {
                background-color: #EEEEEE;
            }
            .even {
                background-color: #FFFFFF;
            }
        
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;H1&gt;Closing Prices Summary&lt;/H1&gt;
        &lt;table&gt;
            %COMMODITIES%
        &lt;/table&gt;
    &lt;/body&gt;
&lt;/html&gt;
</value>
            </setting>
        </MarketFrameworkLibrary.Properties.Settings>
    </applicationSettings>
</configuration>