<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommodityMarketSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CommodityMarketSim.Properties.Settings>
            <setting name="TeamQuantity" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TeamBudget" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="MonetarySymbol" serializeAs="String">
                <value>ↂ</value>
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
        </CommodityMarketSim.Properties.Settings>
    </userSettings>
</configuration>
